<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Hamburger</h1>
      <p class="lead">Make a burger. Eat a burger. Repeat</p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Burgers</h3>
    </div>
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-6">
          <h4>Burgers Ready to Eat</h4>
          <div>
            {{#each burgers}}
            {{#unless devoured}}
            <p>
              {{this.id}}. {{this.burger_name}}

              <button data-id="{{this.id}}" class="devour">Devour!</button>
            </p>
            {{/unless}}
            {{/each}}
          </div>
        </div>
        <div class="col-6">
          <h3>Burgers Eaten</h3>
          <div>
            {{#each burgers}}
            {{#if devoured}}
            <p>
              {{this.id}}. {{this.burger_name}}
            </p>
            {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div><br>

  <div class="card">
    <div class="card-header">
      Make a Burger
    </div>
    <form class="create-burger">
      <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
      </div>
      <button type="submit">Add Burger</button>
  </div>
</div>